src/main/mule/tdd-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c2657f22-38ca-4347-8be3-628efdd28705" >
		<db:generic-connection url="jdbc:h2:tcp://localhost/~/test" driverClassName="org.h2.Driver" user="sa" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1eb034ca-1fb9-46aa-bb9d-86297b9422e9" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="tdd-muleFlow" doc:id="89b1abcd-dc20-45dc-8010-e9f04415892b" >
		<http:listener doc:name="Listener" doc:id="9e06540a-5556-45da-b416-fc380ef8ef34" config-ref="HTTP_Listener_config" path="/">
			<http:error-response statusCode="#[vars.statusCode default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<db:select doc:name="Select" doc:id="6323673d-7ab4-4ce6-9620-dc7c298aa70d" config-ref="Database_Config">
			<db:sql >SELECT PRIME FROM USERS WHERE ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id: attributes.queryParams.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1022bad5-e70f-4172-8867-a29f7d359075" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="prime" ><![CDATA[%dw 2.0
output application/java
---
payload[0].PRIME]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="e5e09060-906f-488f-b0ec-4d1157a191ef" >
			<when expression="#[vars.prime == 'Y']">
				<db:select doc:name="Select" doc:id="97c1ca4c-5ea8-4636-a122-94a34440e6b0" config-ref="Database_Config">
					<db:sql >SELECT * FROM PRODUCTS WHERE PRIME = 'Y'</db:sql>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="8f618e99-e525-4fb8-a640-d6bfa9ce28ef" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.prime == 'N']">
				<db:select doc:name="Select" doc:id="3c0f7a5e-c38e-4f57-8631-6970d7d5abdf" config-ref="Database_Config">
					<db:sql >SELECT * FROM PRODUCTS WHERE PRIME = 'N'</db:sql>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="f7410e69-c7b0-4164-8fed-642b51ad0fb7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="6c08c109-c500-4701-83f2-dcac6d90ea66" type="CUSTOMER:NOTFOUND" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b6bc6704-77d1-4719-90e7-25b2eca0a734" >
				<ee:transform doc:name="Transform Message" doc:id="f4b6de15-e9e7-4947-ac20-3577e4ac687a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Customer does not exists"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
