src/main/mule/tdd-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c2657f22-38ca-4347-8be3-628efdd28705" >
		<db:generic-connection url="jdbc:h2:tcp://localhost/~/test" driverClassName="org.h2.Driver" user="sa" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1eb034ca-1fb9-46aa-bb9d-86297b9422e9" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="tdd-muleFlow" doc:id="89b1abcd-dc20-45dc-8010-e9f04415892b" >
		<db:select doc:name="Select" doc:id="6323673d-7ab4-4ce6-9620-dc7c298aa70d" config-ref="Database_Config">
			<db:sql >SELECT PRIME FROM USERS WHERE ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	id: attributes.queryParams.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="f3f123b1-b9c9-4f2e-86c8-8374c4938bdd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
